jupyter
nbconvert
ipykernel
pandas
numpy
matplotlib
seaborn
scikit-learn
openpyxl
python-dotenv
chainlit
arabic-reshaper
python-bidi
wordcloud
PyMuPDF
pytesseract
Pillow
gdown
ragas
datasets
langchain-openai
langchain-core
langgraph
lancedb
sentence-transformers
amadeus
tavily-python
kagglehub
llama-parse
